html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


html,
body {
  height: 100%;
  background-color: #333;
  background: url('/static/media/accounting1.jpg');
}

.login-panel{
    opacity: 0.8; /* opacity [0-1] */
    -moz-opacity: 0.8; /* opacity [0-1] */
    -webkit-opacity: 0.8; /* opacity [0-1] */
}
