
    html,
    body {
      height: 100%;
      background: url("http://api.thumbr.it/whitenoise-361x370.png?background=88cfebff&noise=626262&density=16&opacity=7");
    }

    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

    [ng-click] {
      cursor: pointer;
    }

    .navbar{
        background-color:#fff;
        background-image: url('../media/noisy-texture-200x200-o2-d10-c-f5f5f5-t1.png');
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    }

    .panel{
        background-color: #fcfcfc;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }

    .centered{
        text-align:center;
    }

    @-moz-document url-prefix() {
      fieldset { display: table-cell; }
    }