    html,
    body {
      height: 100%;
      background: url("http://api.thumbr.it/whitenoise-361x370.png?background=eaf3f7ff&noise=626262&density=10&opacity=2");
    }


    body{
       min-width:600px; /* suppose you want minimun width of 1000px */
       width: auto !important;  /* Firefox will set width as auto */
       width:600px;             /* As IE ignores !important it will set width as 1000px; */
    }


    .glyphicon{
        text-shadow: 0 -.5px rgba(0, 0, 0, .5);
        -webkit-font-smoothing: antialiased;
    }

    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
    }

    [ng-click] {
      cursor: pointer;
    }

    .navbar{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7dbff+0,a4ccf4+44,8cbbea+100 */
        background: #b7dbff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2E0Y2NmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4Y2JiZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #b7dbff 0%, #a4ccf4 44%, #8cbbea 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7dbff), color-stop(44%,#a4ccf4), color-stop(100%,#8cbbea)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #b7dbff 0%,#a4ccf4 44%,#8cbbea 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #b7dbff 0%,#a4ccf4 44%,#8cbbea 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #b7dbff 0%,#a4ccf4 44%,#8cbbea 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #b7dbff 0%,#a4ccf4 44%,#8cbbea 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7dbff', endColorstr='#8cbbea',GradientType=0 ); /* IE6-8 */
        border:0px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.9);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.9);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,.9);
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, table button{
        color:#fff;
    }


    .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, table button, .list-group button{
        text-shadow: 0 -.5px rgba(0, 0, 0, .5);
        -webkit-font-smoothing: antialiased;
    }

    .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover{
        color:#6FABE8;
        text-shadow: 0 -.5px rgba(0, 0, 0, .5);
        -webkit-font-smoothing: antialiased;
    }

    .panel{
        background-color: #fcfcfc;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.1);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,.1);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,.1);
    }

    .centered{
        text-align:center;
    }

    @-moz-document url-prefix() {
      fieldset { display: table-cell; }
    }

    .panel-heading{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+44,f2f2f2+100 */
        background: rgb(255,255,255); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(252,252,252,1) 44%, rgba(242,242,242,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(252,252,252,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 44%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 44%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 44%,rgba(242,242,242,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(252,252,252,1) 44%,rgba(242,242,242,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

    }

    .no-animate {
       -webkit-transition: none !important;
       transition: none !important;
    }

    td {
        max-width: 0;
        overflow: hidden;
    }

    /******************************
    * SETTING FORM USING LI's CSS *
    ******************************/
    li.settings-form-open{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
        background: rgb(238,238,238); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
    }

    li.settings-form-closed{
        background-color:inherit;
    }

    .usersFormPage form label{

    }




    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#96caff+0,88bcef+44,589de2+100 */
        background: rgb(150,202,255); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2Y2FmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzg4YmNlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODlkZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(150,202,255,1) 0%, rgba(136,188,239,1) 44%, rgba(88,157,226,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,202,255,1)), color-stop(44%,rgba(136,188,239,1)), color-stop(100%,rgba(88,157,226,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(150,202,255,1) 0%,rgba(136,188,239,1) 44%,rgba(88,157,226,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(150,202,255,1) 0%,rgba(136,188,239,1) 44%,rgba(88,157,226,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(150,202,255,1) 0%,rgba(136,188,239,1) 44%,rgba(88,157,226,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(150,202,255,1) 0%,rgba(136,188,239,1) 44%,rgba(88,157,226,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96caff', endColorstr='#589de2',GradientType=0 ); /* IE6-8 */
    }






    /*******************
    * BADGE FORMATTING *
    *******************/
    .badge{
        text-shadow: 0 -.5px rgba(0, 0, 0, .5);
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
    .badge-danger{
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }


    .badge-warning{
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

    .badge-info{
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .badge-success{
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

    .badge-primary{
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }



    .bill-prep-table{

    }

    .bill-prep-table>thead>tr>th{
        border-bottom:0px;
    }

    .bill-prep-table>thead>tr>th {
        border-right:1px dotted lightgrey;
    }

    .bill-prep-table>thead>tr>th:last-child{
        border-right:0px;
    }

    .bill-prep-table>tbody>tr>td{
        border-top:1px dotted lightgrey;
        border-right:1px dotted lightgrey;
    }

    .bill-prep-table>tbody>tr>td:last-child{
        border-right:0px;
    }


    .bill-dashboard{

    }

    .bill-dashboard>.panel-body{
        padding-top:10px;
        padding-bottom:10px;
    }

    .input-xs{
        height: 22px;
        padding: 5px 8px;
        font-size: 10px;
        line-height: 1;
        border-radius: 3px;
    }

    input[type="number"] {
        text-align:right;
    }


