# Python Requirements.txt file to install all required python modules for the 2Weeks Application
# sudo pip install -r requirements.txt

flask
Flask-SQLAlchemy
pylint
selenium
werkzeug
coverage
Flask-RESTful