<section class="usersTablePage">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{user.first_name}}&nbsp;{{user.last_name}}</h1>
            <div class="list-group">
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">{{user.first_name}} {{user.last_name}}</h4>
                    <p class="list-group-item-text">
                        <a class="btn btn-primary btn-xs" href="#/usersView/{{user.id}}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-warning btn-xs" href="#/usersEditForm/{{user.id}}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{user.id}}"><span class="glyphicon glyphicon-trash"></span></span></a>
                    </p>
                    <div class="modal fade" id="myModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Warning</h4>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to delete '{{user.username}}'?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <a type="button" id="myModalButon{{user.id}}" href="#/userDelete/{{user.id}}" class="btn btn-primary">Delete</a>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div>
            <a class="btn btn-primary" href="#/usersTable/">Back to list</a>
        </div>
    </div>
</section>