<section class="usersTablePage">
    <div class="row">
        <div class="col-sm-10">
            <h3>Users List:</h3>
            <div><a class="btn btn-primary" href="#/usersForm">Create New User</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="list-group active">
                <a id="test" class="list-group-item" ng-repeat="user in users" href="#/usersView/{{user.id}}"><span class="badge">{{user.id}}</span>{{user.username}}</a>
            </div>
        </div>
    </div>
</section>