<section class="usersFormPage" ng-controller="billFormController">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming Bills</h3>
                  </div>
                <div class="panel-body">
                     <h5>Today's Date: {{date | date : 'EEE, MMM d, yyyy'}}</h5>
                    <table id="main_tbl" class="table table-bordered table-hover table-condensed">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th class="hidden-xs hidden-sm hidden-md" >Due Date</th>
                            <th>Days Left</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="bill in bills | orderBy: 'due_date' track by bill.id" ng-class="{'danger':differenceInDays(bill.due_date) < 7, 'warning':differenceInDays(bill.due_date) < 14 }">
                            <td ng-click="editBill(bill)">{{bill.name}}</td>
                            <td class="hidden-xs hidden-sm hidden-md" ng-click="editBill(bill)">{{bill.due_date | date : 'EEE, MMM d, yyyy'}}</td>
                            <td style="text-align: right;" ng-click="editBill(bill)">{{differenceInDays(bill.due_date) | number:0}}</td>
                            <td style="text-align: right;" ng-click="editBill(bill)">${{bill.total_due | number:2}}</td>
                            <td class="centered">
                                <p class="list-group-item-text centered">
                                    <button class="btn btn-warning btn-xs hidden-xs hidden-sm" ng-click="editBill(bill)"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button class="btn btn-danger btn-xs" ng-really-message="Are you sure you want to delete this bill?" ng-really-click="deleteBill(bill)"><span class="glyphicon glyphicon-trash"></span></button>
                                </p>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                    <div style="text-align:right">
                        <button class="btn btn-success" ng-click="newBill()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New Bill</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>