<section class="usersFormPage" ng-controller="billExecuteController">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <span>
                    TIP: Use this form to help you keep track of which bills you have sent out for payment.
                </span>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Funded bills ready to Pay - <small>Click Bill to mark as Processed</small></h3>
                </div>
                <table id="bill-prep-table" class="table table-hover table-condensed bill-prep-table">
                    <tbody>
                        <tr ng-repeat="bill in bills | filter:{payment_processing_flag: false} | orderBy: 'due_date' track by bill.id">
                            <td class="" ng-click="addToProcessed(bill)">
                                <span class="pull-left">
                                    <span class="badge" ng-class="{'badge-danger':differenceInDays(bill.due_date) <= 7, 'badge-warning':differenceInDays(bill.due_date) <= 14 && differenceInDays(bill.due_date) > 7, 'badge-info': differenceInDays(bill.due_date) >= 14}">{{differenceInDays(bill.due_date) | number:0}}</span>
                                    &nbsp;{{bill.due_date | date : 'EEE, MMM d'}} - {{bill.name}}
                                </span>
                                <span style="color:darkblue;" class="pull-right">
                                    ${{bill.total_due | number:2}}
                                </span>
                            </td>
                            <td class="col-xs-2 centered">
                                <p class="list-group-item-text centered">
                                    <button class="btn btn-warning btn-xs hidden-xs hidden-sm" ng-click="editBill(bill)"><span class="glyphicon glyphicon-edit"></span></button>
                                    <button class="btn btn-danger btn-xs" ng-really-message="Are you sure you want to Unfund this bill?" ng-really-click="deletePaymentPlanItem(bill)" tooltip-placement="top" uib-tooltip="Unfund bill"><span class="glyphicon glyphicon-remove"></span></button>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <div style="text-align:right">
                        Funded bills: <span style="color:darkblue;">${{fundedBillsTotal() | number:2}}</span><br/>
                    </div>
                </div>
            </div>
        </div> <!-- END BILL PREP TABLE -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bills that are being processed</h3>
                </div>
                <table id="" class="table table-hover table-condensed bill-prep-table">
                    <tbody>
                        <tr ng-repeat="bill in bills | filter:{payment_processing_flag: true} | orderBy: 'due_date' track by bill.id">
                            <td class=""  ng-click="removeFromProcessed(bill)">
                                <span class="pull-left">
                                    <span class="badge" ng-class="{'badge-danger':differenceInDays(bill.due_date) <= 7, 'badge-warning':differenceInDays(bill.due_date) <= 14 && differenceInDays(bill.due_date) > 7, 'badge-info': differenceInDays(bill.due_date) >= 14}">{{differenceInDays(bill.due_date) | number:0}}</span>
                                    &nbsp;{{bill.due_date | date : 'EEE, MMM d'}} - {{bill.name}}
                                </span>
                                <span style="color:darkblue;" class="pull-right">
                                    ${{bill.total_due | number:2}}
                                </span>
                            </td>
                            <td class="col-xs-2 centered">
                                <p class="list-group-item-text centered">
                                    <button class="btn btn-success btn-xs" ng-really-message="Mark bill as paid?" ng-really-click="payBill(bill)" tooltip-placement="top" uib-tooltip="Mark Bill as Paid">PAID&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                                </p
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-body">
                    <div style="text-align:right">
                        Processing bills: <span style="color:darkblue;">${{processedBillsTotal() | number:2}}</span><br/>
                    </div>
                </div>
            </div>
        </div> <!-- END BILL PREP TABLE -->
    </div>
</section>