<section ng-controller="confirmEmailController">
    <div>
        <p class="centered" ng-click="confirmAccount()" ng-show="needToConfirm"><button class="btn btn-primary">CLICK HERE TO CONFIRM YOUR ACCOUNT!</button></p>
        <p ng-show="alreadyConfirmed">You have already confirmed your account. <a href="/home/#/">Please click here to access the application</a></p>
        <p ng-show="confirmed">Congratulations! you have confirmed your account. <a href="/home/#/">Please click here to access the application</a></p>
        <hr>
    </div><!-- END LOGIN SECTION -->
</section>


<!--
<ul>
    <li>email</li>
    <li>password</li>
    <li>confirm password</li>
    <li>Pay frequency</li>
    <li>next pay date</li>
</ul>
-->