<section>
    <div class="modal-header">
        <h3 class="modal-title">Edit Bill</h3>
    </div>
    <div class="modal-body">
        <formly-form model="model" form="billForm" id="billForm" ng-submit="submitModalForm()" fields="formFields" novalidate>
            <hr/>
            <div class="centered">
                <button class="btn btn-primary" type="submit" ng-click="submitModalForm()">Submit</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </formly-form>
    </div>
</section>
