<section ng-switch="sectionFlag">
    <div ng-switch-when="login">
        <h5 class="centered">login</h5>
        <hr>
        <form ng-submit="submit()" name="loginForm">
            <div class="form-group">
                <label for="username" class="sr-only">Email address</label>
                <input type="text" id="username" class="form-control" required ng-required="true" ng-model="model.username" placeholder="Email address">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" ng-required="true" required ng-model="model.password" placeholder="password">
                <a href="#" class="" aria-describedby="helpBlock">Forgot your password?</a>
            </div>
            <hr/>
            <div class="centered">
                <button type="submit" class="btn btn-success">&nbsp;&nbsp;Login&nbsp;&nbsp;</button>
                <span ng-show="!isAdmin">
                    &nbsp;or&nbsp;
                    <button ng-click="switchSection()" class="btn btn-primary">Click here to Register!</button>
                </span>
            </div>
        </form>
    </div><!-- END LOGIN SECTION -->
    <div ng-switch-when="register">
        <h5 class="centered">Register new account</h5>
        <hr>
        <form ng-submit="submit()" name="registerForm" class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-5">
                        <label class="sr-only" for="uFirstName">first name</label>
                        <input type="text" id="uFirstName" class="form-control" required ng-model="model.first_name" placeholder="first name">
                    </div>
                    <div class="col-sm-7">
                        <label class="sr-only" for="uLastName">last name</label>
                        <input type="text" id="uLastName" class="form-control" required ng-model="model.last_name" placeholder="last name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="uEmail" required>email address</label>
                <input type="email" id="uEmail" class="form-control" required ng-model="model.email" placeholder="email address">
            </div>
            <div class="form-group">
                <label class="sr-only" for="uConfirmEmail">confirm email address</label>
                <input type="email" id="uConfirmEmail" class="form-control" required ng-model="model.confirm_email" placeholder="re-enter email address">
            </div>
            <div class="form-group">
                <label class="sr-only" for="uNewPassword" required>password</label>
                <input type="password" id="uNewPassword" class="form-control" required ng-model="model.new_password" placeholder="password">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-7">
                        <label class="control-label" for="uPayRecurrence" required>Pay Recurrance</label>
                        <select class="form-control" name="pay_recurrance_flag" id="uPayRecurrence" ng-options="option.name for option in uPayRecurrenceSelectOptions track by option.id" ng-model="model.pay_recurrance" placeholder="How often are you paid?">
                            <option value="" disabled>How often are you paid?</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label class="control-label" for="uNextPayDate" required>Next Paydate</label>
                        <input type="date" id="uNextPayDate" class="form-control" ng-model="model.next_pay_date">
                    </div>
                </div>
            </div>

            <hr/>
            <div class="centered">
                <button type="submit" class="btn btn-success">&nbsp;&nbsp;Register&nbsp;&nbsp;</button> &nbsp;or&nbsp;
                <button ng-click="switchSection()" class="btn btn-primary">Click here to Login!</button>
            </div>
        </form>
    </div><!-- END REGISTER SECTION -->
</section>


<!--
<ul>
    <li>email</li>
    <li>password</li>
    <li>confirm password</li>
    <li>Pay frequency</li>
    <li>next pay date</li>
</ul>
-->