<section>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form ng-submit="submitModalForm()" name="modalForm" novalidate>
            <formly-form model="model" form="modalForm" fields="formFields" novalidate>
                <hr/>
                <div class="centered">
                    <button class="btn btn-primary" type="button">Submit</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </formly-form>
        </form>
    </div>
</section>
