<section>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form ng-submit="submitModalForm()" name="modalForm" novalidate class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="name" class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-5">
                    <input type="text" id="name" class="form-control" ng-model="model.name" disabled ng-disabled="true">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="total_due" class="col-sm-3 control-label">Total Due:</label>
                <div class="col-sm-6">
                    <input type="text" id="total_due" class="form-control" ng-model="model.total_due" disabled ng-disabled="true">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="amount" class="col-sm-3 control-label">Amount to Fund:</label>
                <div class="col-sm-6">
                    <input type="text" id="amount" class="form-control" ng-model="model.amount">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label">Remaining Due:</label>
                <div class="col-sm-6">
                    <p class="form-control-static" style="color:red;">${{differenceInAmount() | number:2}}</p>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="centered">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>
