<section>
    <h5 class="centered">Password Reset</h5>
    <hr>
    <div>
        <div class="centered" ng-show="needToConfirm">
            <form class="form-horizontal" ng-submit="submit()">
                <div class="form-group form-group-sm">
                    <div class="col-sm-12">
                    <span class="help-block">Please fill in the following information to reset your password.</span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="new_password" class="col-sm-3 control-label" required>New Password:</label>
                    <div class="col-sm-6">
                        <input type="password" id="new_password" class="form-control" ng-model="model.new_password" required>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="confirm_new_password" class="col-sm-3 control-label" required>Confirm Password:</label>
                    <div class="col-sm-6">
                        <input type="password" id="confirm_new_password" class="form-control" ng-model="model.confirm_new_password" required>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-xs btn-primary" type="submit">Change Password</button>
                    </div>
                  </div>
            </form>
        </div>
        <div ng-show="alreadyConfirmed">You have already confirmed your account. <a href="/home/#/">Please click here to access the application</a></div>
        <div ng-show="confirmed">Congratulations! you have confirmed your account. <a href="/home/#/">Please click here to access the application</a></div>
        <hr>
    </div><!-- END LOGIN SECTION -->
</section>
