<section class="usersFormPage" ng-controller="userAccountController">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Settings</h3>
                </div>
                <div class="list-group me-nav">
                    <button ng-repeat="selection in selections" type="button" class="list-group-item" ng-click="changeSelection(selection.name)"><span class="glyphicon glyphicon-{{selection.icon}}"></span>&nbsp;{{selection.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selected}}&nbsp;Settings</h3>
                </div>
                <div class="" ng-switch on="selected">

                          <table class="table table-hover" ng-switch-when="General">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-3 col-xs-3"><strong>Username</strong></td>
                                        <td>
                                            <div collapse="!isCollapsed" class="no-animate">
                                               {{me.username}}
                                            </div>
                                            <div collapse="isCollapsed" class="no-animate">
                                                <form>
                                                    <input type="text" class="form-control" ng-model="me.username">
                                                    <hr/>
                                                    <div class="centered">
                                                        <button class="btn btn-primary" type="button">Submit</button>
                                                        <button class="btn btn-default" type="button" ng-click="isCollapsed = !isCollapsed"">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="centered col-sm-1"><button class="btn btn-xs btn-warning" href="" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3 col-xs-3"><strong>Name</strong></td>
                                        <td style="overflow: hidden;">{{me.first_name}}&nbsp;{{me.last_name}}</td>
                                        <td class="centered col-sm-1"><button class="btn btn-xs btn-warning" href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3 col-xs-3"><strong>Email Address</strong></td>
                                        <td style="overflow: hidden;">{{me.email}}</td>
                                        <td class="centered col-sm-1"><button class="btn btn-xs btn-warning" href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></td>
                                    </tr>
                                </tbody>
                            </table>
                          <ul class="list-group me-nav" ng-switch-when="System">
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-xs-3"><strong>Date Created</strong></div>
                                      <div class="col-xs-9">
                                          <div class="row">
                                              <div class="col-sm-10 col-xs-10"  style="overflow: hidden;">
                                                  {{me.date_created}}
                                              </div>
                                              <div class="col-sm-2 col-xs-2 centered">
                                                  <button class="btn btn-xs btn-warning" href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-xs-3"><strong>Last Updated</strong></div>
                                      <div class="col-xs-9">
                                          <div class="row">
                                              <div class="col-sm-10 col-xs-10"  style="overflow: hidden;">
                                                  {{me.last_updated}}
                                              </div>
                                              <div class="col-sm-2 col-xs-2 centered">
                                                  <button class="btn btn-xs btn-warning" href=""><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>