<section class="usersFormPage" ng-controller="userAccountController">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Menu</h3>
                </div>
                <div class="list-group me-nav">
                    <button ng-repeat="selection in selections" type="button" class="list-group-item" ng-class="{'active': selected == selection.name}" ng-click="changeSelection(selection.name)"><span class="glyphicon glyphicon-{{selection.icon}}"></span>&nbsp;{{selection.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9" ng-switch on="selected">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selected}}&nbsp;Settings</h3>
                </div>
                <ul class="list-group me-nav" ng-switch-when="General">
                    <!--<li class="list-group-item" ng-class="{'settings-form-open' : !uUserNameCollapse, 'settings-form-closed' : uUserNameCollapse}">
                        <div class="row no-animate"  collapse="!uUserNameCollapse" ng-click="toggleCollapse('uUserNameCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.username}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uUserNameCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <div class="form-group form-group-sm">
                                            <span id="helpBlock" class="help-block">Your username is linked to your email address. Therefore, to change your username, you must change your email address.</span>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uUserNameCollapse')">Cancel</button>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li>--><!-- END USERNAME SECTION -->
                    <li class="list-group-item" ng-class="{'settings-form-open' : !uEmailCollapse, 'settings-form-closed' : uEmailCollapse}">
                        <div class="row no-animate"  collapse="!uEmailCollapse" ng-click="toggleCollapse('uEmailCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Email/Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;"><strong>{{me.email}}</strong></span><span style="color:orange;font-size:80%" ng-show="!me.confirmed_at">&nbsp;&nbsp;(NOT CONFIRMED)&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uEmailCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Email/Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <span class="form-group form-group-sm help-block">
                                                <ul style="list-style:none;">
                                                    <li><strong>Note</strong>: Changing your email will also change your login username</li>
                                                    <li><strong>Note</strong>: You are required to confirm your email address before it will change in the system</li>
                                                </ul>
                                            </span>
                                            <div class="form-group form-group-sm">
                                                <label for="email" class="col-md-3 control-label">Change Email:</label>
                                                <div class="col-md-9">
                                                    <input type="text" id="email" class="form-control" ng-model="model.email">
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uEmailCollapse')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uEmailCollapse')">Cancel</button>
                                                </div>
                                            </div>
                                            <span class="form-group form-group-sm help-block">
                                                <ul style="list-style:none;">
                                                    <li ng-show="!me.confirmed_at" style="color:orange;">
                                                        Your email has not been confirmed. Please confirm your email address by clicking the link in the confirmation email, or <a href="" ng-click="resendConfirmationEmail()">Resend your confirmation email</a>
                                                    </li>
                                                </ul>
                                            </span>
                                          </form>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li><!-- END EMAIL SECTION -->
                    <li class="list-group-item" ng-class="{'settings-form-open' : !uNameCollapse, 'settings-form-closed' : uNameCollapse}">
                        <div class="row no-animate"  collapse="!uNameCollapse" ng-click="toggleCollapse('uNameCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Name</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.first_name}}&nbsp;{{me.last_name}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uNameCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Name</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <div class="form-group form-group-sm">
                                                <label for="first_name" class="col-sm-3 control-label">First Name:</label>
                                                <div class="col-sm-5">
                                                    <input type="text" id="first_name" class="form-control" ng-model="model.first_name">
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="last_name" class="col-sm-3 control-label">Last Name:</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="last_name" class="form-control" ng-model="model.last_name">
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uNameCollapse')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uNameCollapse')">Cancel</button>
                                                </div>
                                              </div>
                                          </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </li><!-- END NAME SECTION -->
                    <li class="list-group-item" ng-class="{'settings-form-open' : !uPasswordCollapse, 'settings-form-closed' : uPasswordCollapse}">
                        <div class="row no-animate"  collapse="!uPasswordCollapse" ng-click="toggleCollapse('uPasswordCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Password</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">Change Password</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uPasswordCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Password</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <div class="form-group form-group-sm">
                                                <label for="current_password" class="col-sm-3 control-label" required>Current Password:</label>
                                                <div class="col-sm-6">
                                                    <input type="password" id="current_password" class="form-control" ng-model="model.current_password" required>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="form-group form-group-sm">
                                                <label for="new_password" class="col-sm-3 control-label" required>New Password:</label>
                                                <div class="col-sm-6">
                                                    <input type="password" id="new_password" class="form-control" ng-model="model.new_password" required>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="confirm_new_password" class="col-sm-3 control-label" required>Confirm Password:</label>
                                                <div class="col-sm-6">
                                                    <input type="password" id="confirm_new_password" class="form-control" ng-model="model.confirm_new_password" required>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uPasswordCollapse')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uPasswordCollapse')">Cancel</button>
                                                </div>
                                              </div>
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li><!-- END PASSWORD SECTION -->
                </ul>
                <ul class="list-group me-nav" ng-switch-when="Paycheck">
                    <li class="list-group-item" ng-class="{'settings-form-open' : !uPayRecurrence, 'settings-form-closed' : uPayRecurrence}">
                        <div class="row no-animate"  collapse="!uPayRecurrence" ng-click="toggleCollapse('uPayRecurrence')">
                            <div class="col-xs-3 col-md-2"><strong>Pay Recurrence</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.selectedOption.name}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uPayRecurrence">
                            <div class="col-xs-3 col-md-2"><strong>Pay Recurrence</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <div class="form-group form-group-sm help-block">
                                                <ul style="list-style:none;">
                                                    <li><strong>Weekly</strong>: You are Paid once a Week</li>
                                                    <li><strong>Bi-Weekly</strong>: You are paid every other week</li>
                                                    <li><strong>Twice Monthly</strong>: You are Paid twice a month (1st and 15th)</li>
                                                    <li><strong>Monthly</strong>: You are Paid once a month</li>
                                                </ul>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <label for="first_name" class="col-sm-4 control-label">How often do you get Paid?</label>
                                                <div class="col-sm-5">
                                                    <select name="pay_recurrance_flag" id="pay_recurrance_flag" ng-options="option.name for option in uPayRecurrenceSelectOptions track by option.id" ng-model="model.selectedOption"></select>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uPayRecurrence')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uPayRecurrence')">Cancel</button>
                                                </div>
                                            </div>
                                          </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </li><!-- END PASSWORD SECTION -->

                    <li class="list-group-item" ng-class="{'settings-form-open' : !uNextPayDate, 'settings-form-closed' : uNextPayDate}">
                        <div class="row no-animate"  collapse="!uNextPayDate" ng-click="toggleCollapse('uNextPayDate')">
                            <div class="col-xs-3 col-md-2"><strong>Next Pay Date</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.next_pay_date | date : 'EEEE, MMMM d, yyyy'}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uNextPayDate">
                            <div class="col-xs-3 col-md-2"><strong>Next Pay Date</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <div class="form-group form-group-sm">
                                                <label for="first_name" class="col-sm-3 control-label">When do you get paid next?</label>
                                                <div class="col-sm-5">
                                                    <input type="date" id="next_pay_date" class="form-control" ng-model="model.next_pay_date">
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uNextPayDate')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uNextPayDate')">Cancel</button>
                                                </div>
                                            </div>
                                          </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </li><!-- END NEXT PAY DATE SECTION -->

                    <li class="list-group-item" ng-class="{'settings-form-open' : !uAveragePaycheckAmount, 'settings-form-closed' : uAveragePaycheckAmount}">
                        <div class="row no-animate"  collapse="!uAveragePaycheckAmount" ng-click="toggleCollapse('uAveragePaycheckAmount')">
                            <div class="col-xs-3 col-md-2"><strong>Paycheck Amount</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">${{me.average_paycheck_amount | number:2}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uAveragePaycheckAmount">
                            <div class="col-xs-3 col-md-2"><strong>Paycheck Amount</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-12" >
                                        <form class="form-horizontal">
                                            <div class="form-group form-group-sm">
                                                <label for="first_name" class="col-sm-3 control-label">How much are you paid on Average?</label>
                                                <div class="col-sm-5">
                                                    <div class="input-group">
                                                        <div class="input-group-addon">$</div>
                                                        <input type="number" id="average_paycheck_amount" class="form-control" ng-model="model.average_paycheck_amount">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-sm">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-xs btn-primary" type="button" ng-click="submitForm('uAveragePaycheckAmount')">Save Changes</button>
                                                    <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uAveragePaycheckAmount')">Cancel</button>
                                                </div>
                                            </div>
                                          </form>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </li><!-- END AVERAGE PAYCHECK AMOUNT SECTION -->
                </ul>
            </div>
        </div>
    </div>
</section>