<section class="usersFormPage" ng-controller="userAccountController">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Settings</h3>
                </div>
                <div class="list-group me-nav">
                    <button ng-repeat="selection in selections" type="button" class="list-group-item" ng-click="changeSelection(selection.name)"><span class="glyphicon glyphicon-{{selection.icon}}"></span>&nbsp;{{selection.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-9" ng-switch on="selected">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{selected}}&nbsp;Settings</h3>
                </div>
                <ul class="list-group me-nav">
                    <li class="list-group-item" ng-switch-when="General" ng-class="{'settings-form-open' : !uUserNameCollapse, 'settings-form-closed' : uUserNameCollapse}">
                        <div class="row no-animate"  collapse="!uUserNameCollapse" ng-click="toggleCollapse('uUserNameCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.username}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uUserNameCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Username</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                      <div class="col-xs-12" >
                                          <div class="form-group form-group-sm">
                                              <span id="helpBlock" class="help-block">Your username is linked to your email address. Therefore, to change your username, you must change your email address.</span>
                                          </div>
                                          <div class="form-group form-group-sm">
                                              <div class="col-sm-offset-2 col-sm-10">
                                                  <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uUserNameCollapse')">Cancel</button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item" ng-switch-when="General" ng-class="{'settings-form-open' : !uEmailCollapse, 'settings-form-closed' : uEmailCollapse}">
                        <div class="row no-animate"  collapse="!uEmailCollapse" ng-click="toggleCollapse('uEmailCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Email</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.email}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uEmailCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Email</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                      <div class="col-xs-12" >
                                          <form class="form-horizontal">
                                              <div class="form-group form-group-sm">
                                                  <label for="username" class="col-md-3 control-label">Change Email:</label>
                                                  <div class="col-md-9">
                                                      <input type="text" id="email" class="form-control" ng-model="me.email">
                                                  </div>
                                              </div>
                                              <div class="form-group form-group-sm">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                      <button class="btn btn-xs btn-primary" type="button">Send Email Change Request</button>
                                                      <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uEmailCollapse')">Cancel</button>
                                                </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li><!-- END EMAIL SECTION -->
                    <li class="list-group-item" ng-switch-when="General" ng-class="{'settings-form-open' : !uNameCollapse, 'settings-form-closed' : uNameCollapse}">
                        <div class="row no-animate"  collapse="!uNameCollapse" ng-click="toggleCollapse('uNameCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Name</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">{{me.first_name}}&nbsp;{{me.last_name}}</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uNameCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Name</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                      <div class="col-xs-12" >
                                          <form class="form-horizontal">
                                              <div class="form-group form-group-sm">
                                                  <label for="first_name" class="col-sm-3 control-label">First Name:</label>
                                                  <div class="col-sm-5">
                                                      <input type="text" id="first_name" class="form-control" ng-model="me.first_name">
                                                  </div>
                                              </div>
                                              <div class="form-group form-group-sm">
                                                  <label for="last_name" class="col-sm-3 control-label">Last Name:</label>
                                                  <div class="col-sm-6">
                                                      <input type="text" id="last_name" class="form-control" ng-model="me.last_name">
                                                  </div>
                                              </div>
                                              <div class="form-group form-group-sm">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                      <button class="btn btn-xs btn-primary" type="button">Save Changes</button>
                                                      <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uNameCollapse')">Cancel</button>
                                                </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li><!-- END NAME SECTION -->
                    <li class="list-group-item" ng-switch-when="General" ng-class="{'settings-form-open' : !uPasswordCollapse, 'settings-form-closed' : uPasswordCollapse}">
                        <div class="row no-animate"  collapse="!uPasswordCollapse" ng-click="toggleCollapse('uPasswordCollapse')">
                            <div class="col-xs-3 col-md-2"><strong>Password</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <span style="word-wrap: break-word;">Change Password</span>
                                    </div>
                                    <div class="col-xs-3 centered">
                                        <button class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-animate"  collapse="uPasswordCollapse">
                            <div class="col-xs-3 col-md-2"><strong>Password</strong></div>
                            <div class="col-xs-9 col-md-10">
                                <div class="row">
                                      <div class="col-xs-12" >
                                          <form class="form-horizontal">
                                              <div class="form-group form-group-sm">
                                                  <label for="first_name" class="col-sm-3 control-label">Current Password:</label>
                                                  <div class="col-sm-6">
                                                      <input type="password" id="current_password" class="form-control" ng-model="me.current_password">
                                                  </div>
                                              </div>
                                              <hr/>
                                              <div class="form-group form-group-sm">
                                                  <label for="new_password" class="col-sm-3 control-label">New Password:</label>
                                                  <div class="col-sm-6">
                                                      <input type="password" id="new_password" class="form-control" ng-model="me.new_password">
                                                  </div>
                                              </div>
                                              <div class="form-group form-group-sm">
                                                  <label for="confirm_new_password" class="col-sm-3 control-label">Confirm Password:</label>
                                                  <div class="col-sm-6">
                                                      <input type="password" id="confirm_new_password" class="form-control" ng-model="me.confirm_new_password">
                                                  </div>
                                              </div>
                                              <div class="form-group form-group-sm">
                                                  <div class="col-sm-offset-2 col-sm-10">
                                                      <button class="btn btn-xs btn-primary" type="button">Save Changes</button>
                                                      <button class="btn btn-xs btn-default" type="button" ng-click="toggleCollapse('uPasswordCollapse')">Cancel</button>
                                                </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                            </div>
                        </div>
                    </li><!-- END PASSWORD SECTION -->
                </ul>
                <ul class="list-group me-nav" ng-switch-when="Paycheck">
                    TBD
                </ul>
            </div>
        </div>
    </div>
</section>