<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to 2Weeks!</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="container">
        <div class="row">&nbsp;</div>
    </div>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>2Weeks</h1>
            <p>Simplify your bills</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                  <div ng-view class="view-frame"></div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-12">
                <form novalidate class="form" ng-submit="submit()" ng-controller="formCtrl">
                    First Name:<br>
                    <input type="text" ng-model="user.first_name"><br>
                    Last Name:<br>
                    <input type="text" ng-model="user.last_name">
                    <br><br>
                    <input class="btn btn-info" type="submit" id="submit" value="Submit" />
                  </form>
            </div>
        </div>-->
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript for AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>

  </body>
</html>