<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to 2Weeks!</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


      <!-- GOOGLE WEBMASTER TOOLS -->
      <meta name="google-site-verification" content="MwHU_cofD8jJ_ri51e1Ne9TFog2qzQA03R96duCMpx4" />


      <!-- GOOGLE ANALYTICS -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67201190-1', 'auto');
        ga('send', 'pageview');
      </script>
  </head>
  <body ng-app="myApp">



      <nav class="navbar navbar-default" ng-controller="adminNavBarController">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    2Weeks Admin Console
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href='#here' ng-click="logout()">Logout</a></li>
            </ul>
        </div>
      </nav>




      <div class="container theme-showcase" role="main">
          <div class="row">
              <!-- ANGULAR APP -->
              <div class="col-md-12">
                  <!-- ANGULAR VIEW-FRAME -->
                  <div ng-view class="view-frame"></div>
              </div>
          </div>
        </div>

      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

      <!-- Latest compiled and minified JavaScript for Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- Latest compiled and minified JavaScript for AngularJS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>

      <!-- Deprecated -->
      <!-- <script src="{{ url_for('static', filename='js/ui-bootstrap-tpls-0.13.4.min.js') }}"></script> -->

      <!-- 2Weeks AngularJS Files -->
      <script src="{{ url_for('static', filename='js/adminApp.js') }}"></script>
      <script src="{{ url_for('static', filename='js/adminController.js') }}"></script>
      <script src="{{ url_for('static', filename='js/fb.js') }}"></script>


       <!-- pNotify JS File -->
       <script src="{{ url_for('static', filename='js/pnotify.custom.min.js') }}"></script>
       <script src="{{ url_for('static', filename='js/angular-pnotify.js') }}"></script>

  </body>
</html>