<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome to 2Weeks!</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Optional theme -->
      <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

      <!-- X-Editable -->
      <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css" rel="stylesheet"/> -->

      <!-- ngToast CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ngToast.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ngToast-animations.min.css') }}">


      <!-- CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

      <!-- GOOGLE WEBMASTER TOOLS -->
      <meta name="google-site-verification" content="MwHU_cofD8jJ_ri51e1Ne9TFog2qzQA03R96duCMpx4" />

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->


      <!-- GOOGLE ANALYTICS -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67201190-1', 'auto');
        ga('send', 'pageview');
      </script>
  </head>
  <body ng-app="billsApp">
    <toast></toast>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-cloak>
        <div class="container-fluid" ng-controller="menuBarAppController">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="./#/"><img src="{{ url_for('static', filename='media/2WeeksLogo_.25in.png') }}"   /></a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active:isActive('/billPrep')}"><a href="#billPrep">Prepare</a></li>
                    <li ng-class="{ active:isActive('/billExecute')}"><a href="#billExecute">Execute</a></li>
                    <li ng-class="{ active:isActive('/billTrack')}"><a href="#billTrack">Track</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="openFeedbackModal()">feedback</a></li>
                    {% raw %}
                    <li class="dropdown" ng-class="{ active: isActive('/userAccount')}">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{me.first_name}}</strong>&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#userAccount">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a ng-href='#here' ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                    {% endraw %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav><!-- /.navbar -->
    </div>

    <div style="height:64px;">
        &nbsp;
    </div>
    <div class="container theme-showcase" role="main">
        <div class="row">
            <!-- ANGULAR APP -->
            <div class="col-md-12">
                <!-- ANGULAR VIEW-FRAME -->
                <div ng-view class="view-frame"></div>
            </div>
        </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/api-check/7.5.0/api-check.min.js"></script>

    <!-- Latest compiled and minified JavaScript for AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-sanitize.min.js"></script>


    <!-- Angular-Formly -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly/7.1.1/formly.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-formly-templates-bootstrap/6.1.0/angular-formly-templates-bootstrap.min.js"></script>

    <!-- BootstrapUI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

    <!-- Angular-Xeditable -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js"></script> -->

    <!-- Fastclick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>

    <!-- NgToast-->
    <script src="{{ url_for('static', filename='js/ngToast.min.js') }}"></script>

    <!-- 2Weeks AngularJS Files -->
    <script src="{{ url_for('static', filename='js/app.js') }}?v=1.0"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}?v=1.0"></script>
    <!-- <script src="{{ url_for('static', filename='js/fb.js') }}"></script> -->

  </body>
</html>